/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */

html,
body {
  height: 100vh;
  background-color: #0a113e;
  overflow: hidden;
}

.comfortaa {
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
}

.white-text {
  color: white;
}
